@import url('step-txt-lesson-codeColor.css');
@import url('responsive.css');
/* @import url('dark-mode-colorCode.css'); */
@import url('dark-mode-colorCode.css');
/* utilities */
@import url('utilities/borders.css');
@import url('utilities/colors.css');
@import url('utilities/display.css');
@import url('utilities/effects.css');
@import url('utilities/layout.css');
@import url('utilities/list.css');
@import url('utilities/position.css');
@import url('utilities/sizing.css');
@import url('utilities/spacing.css');
@import url('utilities/text.css');
/* ui */
@import url('ui/toggle-side-bar.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

