@media screen and (max-width:720px) {
    .topic-container>.sub-topics-container,
    .topic-container ul.sub-resources-container {
        margin-top: 4%;
    }
    .code-container {
        min-width: 250px;
    }

    .step-txt {
        font-size: 90%;
    }
    #targetDiv {
        #targetDivInjected {
            width: 100%;
            .main-container-colorCode {
                padding-top: 0;
                padding-left: 0;
                width: 100%;
                margin: 0;
            }
        }
    }

    .collapsed #sideBarBtn {
        left: 5%;
        top: 90%;
    }
    .dark-mode .step-float {
        border-left: none !important;
        border-bottom: none !important;
    }
    .dark-mode .step-clicked {
        border: 1px solid blue !important;
        
    }
}

@media screen and (max-width:672px) {

    .topic-container>.sub-topics-container,
    .topic-container ul.sub-resources-container {
        margin: 2.5% 0;
        padding-top: 2%;
    }

    .resource>img {
        max-width: 50px;
    }
    .code-container{
        font-size: 90%;
        margin: 1% 5%;
    }
}
@media screen and (max-width:600px) {
    .side-bar {
        width: 20%;
    }

    .side-bar>.parts {
        margin-left: 10%;
    }

    .side-bar>.parts ul li {
        line-height: 1.4;
    }

    .parts {
        margin-left: 1.5%;
        font-size: 90%;
    }

    .parts h2 {
        margin-left: 2.5%;
    }

    body>nav.section-lesson-title>h1 {
        /* color: blue;s */
        font-size: 45%;
    }

    /* Gets rid of scroll bar see Chatgpt css Get rid of scroll-bar overlfow question on site */
    #mainTargetDiv {
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
    }

    #mainTargetDiv::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    #mainTargetDiv::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }


    
}