@media screen and (min-width:960px){    
    main> .side-bar.deactive  {
        transition: all 250ms;
    }
    .parts sup{
        display: inline-block;
        margin-left: -3px;
    }
}
@media screen and (max-width:720px) {

    .topic-container>.sub-topics-container,
    .topic-container ul.sub-resources-container {
        margin-top: 4%;
    }


}
@media screen and (max-width:672px) {

    .topic-container>.sub-topics-container,
    .topic-container ul.sub-resources-container {
        margin: 2.5% 0;
        padding-top: 2%;
    }

    .resource>img {
        max-width: 50px;
    }
    .code-container{
        font-size: 90%;
        margin: 1% 5%;
    }
}
@media screen and (max-width:600px) {
    .side-bar {
        width: 20%;
    }

    .side-bar>.parts {
        margin-left: 10%;
    }

    .side-bar>.parts ul li {
        line-height: 1.4;
    }

    .parts {
        margin-left: 1.5%;
        font-size: 90%;
    }

    .parts h2 {
        margin-left: 2.5%;
    }

    body>nav.section-lesson-title>h1 {
        /* color: blue;s */
        font-size: 45%;
    }

    /* Gets rid of scroll bar see Chatgpt css Get rid of scroll-bar overlfow question on site */
    #mainTargetDiv {
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
    }

    #mainTargetDiv::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }

    #mainTargetDiv::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera */
    }


    
}

