.body {
    position: relative;
}
.copied {
    /* border: 4px solid whitesmoke; */
    position: absolute;
    border: 1px solid whitesmoke;
    box-shadow: 0 0 3px 2px whitesmoke;
    /* background-color: whitesmoke; */
    background-color: white;
    color:black;
    z-index: 100;
    transform: scale(1.35);
    transition: all .1s;
}

.decopied {
    border: 1px solid whitesmoke;
    box-shadow: none;
    /* background-color: black; */
    transform: scale(1.0);
    transition: all .15s;
    position: static;
    z-index: 0;
    transition: all .15s;
}