.main-container.collapsed .side-bar {
    flex-basis: 2%;
}

.main-container.collapsed .side-bar-links-container {
    width: 0;
    opacity: 0;
    transition: all 250ms;
}

.main-container.collapsed .drop {
    position: fixed;
    transform: scale(1.5);
    z-index: 1;
    bottom: 0;
}
.collapsed #sideBarBtn {
    left: 150%;
    position: absolute;
    border: 1px solid var(--bg-primary-db);
    transform: scale(2);
    bottom: 20%;
}