.enlarge {
    /* position: relative; */
    position: absolute;
    z-index: 10;
    transform: scale(1.7);
    min-height: 150px;
    top: 30%;
    min-width: 200px;
    max-width: 300px ;
    max-height: 300px ;
    right: 12%;
    transform: all 4s;
}
.step-img img.enlarge{
    /* margin-right: 50% !important; */
}
.imgs-container .img-container:nth-child(odd) img.enlarge {
    /* z-index: 10; */
    /* min-height: 150px;
    min-width: 200px;*/
    /* left: 8%; */
    /* margin-left: 20%; */
}

video.enlarge-vid {
    position: absolute;
    z-index: 10;
    min-height: 150px;
    transform: scale(1.5);
    min-width: 250px;
    right: 20%;
}

.imgs-container {
    display: flex;
}

.imgs-container .step-img {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgs-container  .step-img img {
    width: 100%;
}

@media screen and (max-width:720px) {
    video {
        min-width: 250px;
    }

    video.enlarge-vid {
        right: 3%;
        top: 0;
        transform: scale(1.02);
    }

    img.enlarge {
        position: absolute;
        z-index: 99;
        min-height: 112px;
        min-width: 2px;
        max-height: 180px;
        max-width: 220px;
        top: 20%;
        /* margin-right: 80%; */
    }
}