/* toggle-side-bar.css */
.main-container.collapsed .side-bar {
    /* border-top: none !important; */
    z-index: 50;
    flex-basis: 10%;
}

.main-container.collapsed .side-bar-links-container {
    width: 0;
    opacity: 0;
    transition: all 250ms;
}

.main-container.collapsed .drop {
    position: fixed;
    transform: scale(1.5);
    z-index: 1;
    bottom: 0;
}
.collapsed #sideBarBtn {
    z-index: 10;
    /* position: absolute; */
    border: 1px solid var(--bg-primary-db);
    transform: scale(2.2);
    left: 90%;
    top: 70%;
}