main>.side-bar.deactive {
    flex-basis: 2%;
}

main>.side-bar.deactive .parts {
    width: 0;
    opacity: 0;
    transition: all 250ms;
}

main>.side-bar.deactive .drop {
    position: fixed;
    transform: scale(1.5);
    z-index: 1;
    bottom: 0;
}
.deactive #sideBarBtn {
    left: 2%;
    border: 1px solid var(--bg-primary-db);
    transform: scale(2);
    bottom: 2%;
}