#mainLinks>a {
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
}
.page-wrapper >nav.section-lesson-title {
    border: 1px solid black;
}
main>.side-bar {
    border-right: 1px solid black;
    /* border-right: 1px solid blue;} */
    /* border-top: 1px solid black; */
}