body>header {
    color: black;
}

body>nav.section-lesson-title {
    box-shadow: 0 0 1px 1px white;
}

body>nav.section-lesson-title>h1#title {
    color: black;
    box-shadow: 0 0 1px 1px white;
    border: 1px solid black;
}

main>.side-bar {
    color: black;
    box-shadow: 0 0 1px 1px white;
}

#sideBarBtn {
    color: black;
}

.side-bar ul li a,
.side-bar ul li a:visited {
    color: black;
}

.nav-mode-colors {
    background: rgb(93, 104, 125);
}

.nav-mode-colors a {
    color: whitesmoke !important;
}