main>.side-bar::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none;
}

.side-bar-links-container>ul code {
    display: inline;
}


.side-bar ul li a{
    display: inline-block;
    text-wrap: wrap;
}