.page-header a:focus,
.page-header  a:active {
    box-shadow: 0 0 10px 6px rgb(143, 194, 192);
    border: 1px solid blue;
    background: rgb(0,50,50,.5);
}
ul li a:visited {
    text-decoration: none;
    color: white;
}
.side-bar a:active,
.side-bar a:focus{
    border: 1px solid black;
}
#mainTargetDiv:active,#mainTargetDiv:focus {
    border: 1px solid blue;
    border-left: 1px solid blue;
}

/* STEPS  */


a:active,
a:focus,
.step-float:focus,
.step-float:active {
    /* box-shadow: 2px 1px 10px rgb(179, 155, 95);  */
    /* border: 2px solid rgb(140, 135, 104); */
    /* box-shadow: 2px 1px 4px rgb(95, 168, 179); */
    box-shadow: 2px 1px 4px whitesmoke;
    border: 1px solid rgb(135, 140, 104);
    background-color: rgb(175, 191, 196);
    outline: none;
}
.step-float.step-clicked{

    box-shadow: 2px 2px 10px lightblue;
    border: 1px solid blue
}
.dark-mode a:active,
.dark-mode a:focus,
.dark-mode .step-float:focus,
/* .step-float:hover ,*/
.dark-mode .step-float:active {
    /* box-shadow: 2px 2px 10px lightblue; */
    /* box-shadow: 2px 1px 10px rgb(179, 155, 95); */
    /* border: 2px solid rgb(140, 135, 104); */
    outline: none;
}