.page-header a:focus,
.page-header  a:active {
    box-shadow: 0 0 10px 6px rgb(143, 194, 192);
    border: 1px solid blue;
    background: rgb(0,50,50,.5);
}
ul li a:visited {
    text-decoration: none;
    color: white;
}
a:active,a:focus{
}
#mainTargetDiv:active,#mainTargetDiv:focus {
    border: 2px solid blue;
}

/* STEPS  */
a:active,
a:focus,
.step-float:focus,
/* .step-float:hover ,*/
.step-float:active {
    box-shadow: 2px 2px 10px lightblue;
    border: 1px solid slateblue;
    box-shadow: 2px 1px 10px rgb(116, 100, 60);
    outline: none;
}
.dark-mode a:active,
.dark-mode a:focus,
.dark-mode .step-float:focus,
/* .step-float:hover ,*/
.dark-mode .step-float:active {
    box-shadow: 2px 2px 10px lightblue;
    border: 1px solid rgb(140, 135, 104);
    box-shadow: 2px 1px 10px rgb(116, 100, 60);
    outline: none;
}