.page-wrapper{
    display: flex;
    flex-direction: column;
}
.page-wrapper >.page-header {
    display: flex;

    .page-header-links{
        display: flex;    
        /* flex-direction: column; */
        flex-basis: 80%;
    }
    .page-header-links a {
        display: inline-flex;
        flex-basis: 33%;
        height: 100%;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
    }
    .page-header-links>.header-links-col {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
    }
    .img-container{
        height: 100%;
        flex-basis: 20%;
        display: flex;
        flex-direction: column;
    }
    .img-container  img{
        max-height: 150px;
        max-width: 100px;
    }
    
}
.page-wrapper > nav.section-lesson-title {
    display: flex;
    /* background-color: blue; */
    /* align-items: center; */
}
main {
    display: flex;
    
}
.main-content-container {
    display: static;
}
main>.side-bar {
    flex-basis: 25%;
    /* width: fit-content; */
    text-wrap: hidden;
    /* overflow-x: hidden; */
    /* flex-direction: column; */
    /* overflow-y: auto; */
    /* optional for nice scroll: */
    /* scrollbar-width: none; */
    /* -ms-overflow-style: none; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid white; */
    /* width: 100% !important; */
}
.side-bar>.side-bar-links-container ul {
    /* align-items: flex-start; */
    /* text-wrap: wrap; */
    /* overflow-y: scroll; */
    /* scrollbar-width: none; */
}
