/* position.css */
.page-wrapper>.page-header {
    .tutorial-link-img-container {
        position: sticky;
    }
}
main{
    position: relative;
}
main>.side-bar {    
    /* position: sticky; */
    top: 0;
}
body>nav.section-lesson-title {
    position: sticky;
    top: 0;
}
.main-landing-page {
    position: relative;
}
.main-landing-page>nav#nxtPrevLessonsBtns {
    position: sticky;
    bottom: 0;
}

/* Steps */
.steps-container {
    position: relative;
}
.step-float {
    /* position: relative; */
}
#sideBarBtn {
    position: fixed;
    /* sticks to viewport */
    /* top: 10px; */
    /* wherever you want */
    /* left: 10px; */
    /* z-index: 9999; */
    /* above all other elements */
}
.lesson-btns-container {
    position: fixed;
    bottom: 0;
    right: 0;
}