/* position.css */
body>header {
    display: flex;
}
header>nav#mainLinksContainer>#mainLinks {
    width: 100%;
}
main{
    position: relative;
}
main>.side-bar {
    
    position: sticky;
    top: 0;
}
body>nav.section-lesson-title {
    position: sticky;
    top: 0;
    z-index: 50;
}
.main-landing-page {
    
    position: relative;
}
.main-landing-page>nav#nxtPrevLessonsBtns {
    position: sticky;
    bottom: 0;
    z-index: 10;
}


#darkModeBtn {
    position: absolute;
    bottom: 15%;
    right: 10%;
}
#sideBarBtn {
    /* transform: scale(2); */
    z-index: 10;
    position: absolute;
    top: 0%;
    left: 5%;
    
}
