/* position.css */
.page-wrapper>.page-header {
    .tutorial-link-img-container {
        /* position: sticky; */
    }
}

body>nav.section-lesson-title {
    /* position: sticky; */
    top: 0;
}
.main-landing-page {
    position: relative;
}
.main-landing-page>nav#nxtPrevLessonsBtns {
    /* position: sticky; */
    bottom: 0;
}
/* Steps */
.steps-container {
    position: relative;
}
.step-float {
    /* position: relative; */
}
.lesson-btns-container {
    position: fixed;
    bottom: 0;
    right: 0;
}
/* /////// */
.main-container {
    position: relative;
}

.main-container.collapsed>.side-bar {
    position: static;
    top: 0;
}
.main-container.collapsed #sideBarBtn {
    position: fixed;
}

#sideBarBtn {
    position: absolute;
    top: 0;
        left: 2vw;
}