body>header {
    display: flex;
}
header>nav#mainLinksContainer>#mainLinks {
    width: 100%;
}
main{
    position: relative;
}
body>nav.section-lesson-title {
    position: sticky;
    top: 0;
    z-index: 50;
}
.main-landing-page {
    
    position: relative;
}
.main-landing-page>nav#nxtPrevLessonsBtns {
    position: sticky;
    bottom: 0;
    z-index: 10;
}
main>.side-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

#darkModeBtn {
    position: absolute;
    bottom: 15%;
    right: 10%;
}
#sideBarBtn {
    transform: scale(2);
    z-index: 10;
    position: absolute;
    bottom: 20%;
    left: 10%;
    
}
