.page-wrapper>nav.section-lesson-title {
    height: fit-content;
}
main {
    width: 100%;
}
main > aside{
    height: 100vh;
}
main > aside,
.parts {
    display: flex;
    flex-direction: column;
}
#sideBarBtn {
    /* width: 100px; */
    /* height: 100px; */
}
#darkModeBtn {
    width: 10vh; 
    height: 4vh; 
}

.side-bar ul {
    width: 100%;
    overflow-x: scroll;
}

.side-bar ul li {
    width: 100%;
}
.side-bar ul li a {
    width: 100%;
}