.main-landing-page>nav#nxtPrevLessonsBtns button {
    padding: 0 1%
}
main > .side-bar {
    padding-right: 2%;
}
.side-bar > .side-bar-links-container{
    margin-top: 10%;
}
.side-bar ul li {
    margin-top: 2%;
    margin-bottom: 10%;
}

