
.page-header-links a {
    text-decoration: none;
}
.page-wrapper>nav.section-lesson-title {
    font-size: 80%;
}

.main-landing-page>nav#nxtPrevLessonsBtns button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.side-bar>.side-bar-links-container ul {
    font-size: 89%;
}
.side-bar ul li a {
    text-decoration: none;
}
