/* zIndex.css */
.step-float {
    z-index: 11
}
.tutorial-link-img-container {
    z-index: 10000;
}

.page-wrapper>nav.nav-lesson-title {
    /* z-index: 2 */
}
.main-landing-page>nav#nxtPrevLessonsBtns {
    z-index: 2;
}
#sideBarBtn {
    z-index: 5;
}
.inject-content-btns-container{
    z-index: 5;
}

.step-img img {
    z-index: 12;
}

.step-img img.enlarge {
    z-index: 9999;
}