/* zIndex.css */
.tutorial-link-img-container {
    z-index: 100;
}
.step-img img {
    z-index: 10;
}
.main-landing-page>nav#nxtPrevLessonsBtns {
    z-index: 10;
}
#sideBarBtn {
    z-index: 10;
}
.lesson-btns-container {
    z-index: 1;
}