.sidebarbtn-fallback-img{
    display: inline-block;
    background: url('../../images/sideBarBtnPlacholder.png');
    width: 20px;
    height: 20px;
    background-size: contain;
    opacity: .4;
    border: 1px solid black ;
    border-radius: 2px;
}